<footer id="footer">
  <div class="foot-box global-width">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> &nbsp;&nbsp;
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    &nbsp;|&nbsp;主题 <a href="https://github.com/yiluyanxia/hexo-theme-antiquity">antiquity</a>
    <br>
    <span id="busuanzi_container_site_pv">欢迎来访</span>
  </div>
</footer>